---
import { getAllPhiles } from "../../../../modules/philes/repository";

type Props = {
  destination: string;
};

export async function getStaticPaths() {
  const philes = await getAllPhiles();

  return philes.map((phile) => ({
    params: {
      volume: String(phile.route.volume),
      slug: phile.route.slug
    },
    props: {
      destination: phile.route.href
    }
  }));
}

const { destination } = Astro.props;
const canonicalUrl = new URL(destination, Astro.site).toString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=${destination}`} />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={canonicalUrl} />
    <title>Redirecting…</title>
  </head>
  <body>
    <p>Redirecting to <a href={destination}>{destination}</a></p>
  </body>
</html>